<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
</head>
<body>
    <div id="sub-navigation">
        <h1>UNLOCK THE MAGIC OF MOVIES</h1>
    </div>
    <div id="main">
        <div id="content">
            <div class="box">
                <div class="head">
                    <h2></h2>
                </div>
                @foreach (var movie in Model)
                {
                    <div class="movie">
                        <div class="movie-image">
                            <a href="@Url.Action("GetMovie", "Movies", new { id = movie.Id })">
                                <img src="@movie.Image" alt="">
                                <span class="name">@movie.Name</span>
                            </a>
                        </div>
                        <div class="rating">
                            <p>RATING: @movie.Rating</p>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                }

                <div class="cl">&nbsp;</div>
            </div>
        </div>
    </div>
</body>
</html>
